@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-image: url("../assets/images/home/home.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.navbar {
  display: flex;
  justify-content: space-between;
  height: 70px;
  width: 100vw;
  align-items: center;
  /* color: aliceblue; */
  font-weight: 800;
  background-color: white;
  /* backdrop-filter: blur(4px); */
  padding-left: 1vw;
  padding-right: 1vw;
}

.enterios {
  font-weight: 500;
}

.link {
  padding-right: 1.5vw;
  font-weight: 600;
}

@media only screen and (max-width: 768px) {
  .link {
    opacity: 0%;
    font-size: 0%;
  }
}

@media only screen and (max-width: 600px) {}

.links {
  display: flex;
  flex-direction: row;
}

.link-main {
  margin-right: 1vw;
}

/************************************************/

.sitecontent {
  height: 50vh;
  width: 25vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
  backdrop-filter: blur(1px);
}